.carousel-wrapper {
  position: relative;
  max-width: 100%;
  width: 100%;
  flex: 1;
  display: flex;
}

.carousel-wrapper i {
  height: 50px;
  width: 50px;
  background: #fff;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: var(--box-shadow);
}

.carousel-wrapper i:first-child {
  left: 25px;
}

.carousel-wrapper i:last-child {
  right: 25px;
}

.carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 100%;
  gap: 16px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel-card {
  scroll-snap-align: start;
  max-width: 100%;
  width: 100%;
  height: 80vh;
  object-fit: cover;
}

.dragging {
  scroll-snap-type: none;
  cursor: grab;
  user-select: none;
  scroll-behavior: auto;
}

.carousel-no-transition {
  scroll-behavior: auto;
}