:root {
  --primary-color: #fafafa;
  --secondary-color: #e7e7e7;
  --tertiary-color: #bebebe;
  --font-color: #343434;
  --icon-color: #505050;
  --title-font: "Cormorant Garamond", serif;
  --body-font: "Poppins", sans-serif;
  --std-padding: 2vh 10vw;
  --box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
}

html,
body {
  margin: 0;
  font-size: 18px;
  overflow-x: hidden;
  overflow-y: scroll;
}

#root {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}

* {
  color: var(--font-color);
  font-family: var(--body-font);
}

i {
  color: var(--icon-color);
}

h1,
h2,
h3 {
  font-family: var(--title-font);
  font-weight: 100;
}

button {
  font-size: 18px;
  border: none;
  cursor: pointer;
  background: none;
  padding: 0;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.header {
  z-index: 10;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10vw;
  background-color: var(--primary-color);
  height: 10vh;
  width: 100%;
  box-sizing: border-box;
}

.home-link {
  font-family: var(--title-font);
  font-weight: 100;
  font-size: xx-large;
  text-transform: uppercase;
  text-decoration: none;
}

.header nav {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.header nav a {
  font-family: var(--title-font);
  font-size: x-large;
  text-transform: uppercase;
  text-decoration: none;
}

.header nav a:first-of-type {
  margin-left: 0;
}

.header nav a:last-of-type {
  margin-right: 0;
}

.header nav a:hover {
  color: #505050;
}

.content {
  flex: 1;
  padding: 4vh 10vw;
  background-color: var(--primary-color);
}

.content.centered {
  display: flex;
  align-items: center;
}

.about-page {
  background-image: url("/images/Brennan-hero.jpg");
  background-size: auto 100%;
  background-position: top 0 left 50vw;
  background-repeat: no-repeat;
}

.contact-page {
  background-image: url("/images/Markham-dusk.jpg");
  background-size: auto 100%;
  background-position: top 0 right 50vw;
  background-repeat: no-repeat;
}

footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: var(--std-padding);
  background-color: var(--tertiary-color);
  justify-content: flex-end;
  gap: 20px;
}

footer p {
  margin-top: 0;
  margin-bottom: 0;
}

.footer-contact-btns {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: var(--font-color);
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -10px;
  left: 0;
  background-color: var(--font-color);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.hover-underline-animation.hul-tighter::after {
  bottom: -5px;
}

.row {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 8vw;
}

.col {
  flex: 1;
}

.text-container {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 5vh;
  padding-top: 5vh;
}

.text-container h1 {
  margin-top: 0;
}

.text-container:first-of-type {
  padding-top: 0;
}

.text-container::after {
  content: "";
  position: absolute;
  display: block;
  width: 70%;
  height: 1px;
  bottom: 0;
  background-color: var(--font-color);
}

.text-container.no-after::after {
  display: none;
}

.contact-information-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
}

.contact-information {
  margin-right: 20px;
  text-decoration: none;
}

.contact-information:last-of-type {
  margin-right: unset;
}

.contact-icon {
  margin-right: 10px;
}

.menu-toggler,
.mobile-menu {
  display: none;
}

.menu-toggler {
  z-index: 10;
  position: absolute;
  right: 10vw;
  -webkit-tap-highlight-color: transparent;
}

.mobile-menu {
  z-index: 5;
  position: fixed;
  top: 0;
  right: -100%;
  background-color: var(--primary-color);
  height: 100svh;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10vh;
  transition: 0.3s ease-in;
}

.mobile-menu .nav-links {
  font-family: var(--title-font);
  font-size: x-large;
  text-transform: uppercase;
  text-decoration: none;
}

.mobile-contact-btns {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

.mobile-contact-btns a {
  padding: 10px;
  border-radius: 50%;
  border: 1px solid var(--icon-color);
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.mobile-contact-btns a i {
  line-height: 0;
}

.mobile-only {
  display: none;
}

@media only screen and (max-width: 968px) {
  body,
  button {
    font-size: 16px;
  }

  .mobile-only {
    display: inherit;
  }

  .menu-toggler {
    display: block;
  }

  .mobile-menu {
    display: flex;
  }

  .mobile-menu.open {
    right: 0;
  }

  .home-link {
    font-size: larger;
  }

  .about-page,
  .contact-page {
    background: none;
  }

  .row {
    flex-direction: column;
  }

  footer {
    justify-content: center;
    gap: 10px;
    padding: 2vh 0;
  }

  .footer-contact-btns {
    gap: 10px;
  }

  .header {
    padding: 2svh 10vw;
    background-color: var(--secondary-color);
  }

  .header nav {
    display: none;
  }

  .content.centered {
    display: block;
  }

  .text-container h1 {
    margin-top: 0.67em;
  }

  .hide-on-mobile {
    display: none;
  }
}
